@model MvcApplication2.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Login</legend>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">User Name</span>
            </div>
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Login" />
            <input type="button" class="btn btn-primary" value="Register" onclick="location.href='@Url.Action("Register", "Authentication")'" />
            <input type="button" class="btn btn-primary" value="Back to List" onclick="location.href='@Url.Action("ListContact", "Contact")'" />
            @*@Html.("Back to List", "ListContact", new { @class = "btn btn-primary" })*@
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
